<!DOCTYPE html>
<html>
<head>
    <title>Análisis de Ruta Óptima</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .navbar {
            background: linear-gradient(to right, #0a2e36, #1f7a8c);
        }

        .navbar-logo {
            color: white;
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
        }

        body {
            background-image: url("{{ url_for('static', filename='images/background.png') }}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            margin-top: 50px;
            max-width: 600px; /* Adjust the width as per your preference */
            padding: 0 15px; /* Add padding to the left and right sides */
            background-color: rgba(255, 255, 255, 0.8); /* Add background color with opacity */
            border-radius: 10px; /* Add border radius */
            text-align: center; /* Center align the content */
        }

        .card {
            display: none;
        }

        .card.active {
            display: block;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

        .previous-button {
            order: 1;
        }
        

        .next-button {
            order: 2;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand navbar-logo" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Your Logo"></a>
</nav>

<div class="container">
    <h1 style="text-align: center;">Análisis de Ruta Óptima</h1>
    <form action="/results" method="POST">
        <h3 style="text-align: center;">Pesos:</h3>
        {% for entrada, peso_predefinido in pesos_predefinidos.items() %}
        <div class="form-group">
            <label for="{{ entrada }}">{{ entrada }}:</label>
            <input type="number" step="0.1" class="form-control" id="{{ entrada }}" name="{{ entrada }}"
                   value="{{ peso_predefinido }}" {% if loop.index < 7 %}readonly{% endif %}>
        </div>
        {% endfor %}

        <h3 style="text-align: center;">Rutas (Último año):</h3>
        <div class="container">
            <div class="card active" id="card-1">
                <div class="card-header" style="text-align: center; font-weight: bold;">
                    Ruta 1 (Último año)
                </div>
                <div class="card-body">
                    {% for entrada in pesos_predefinidos %}
                    <div class="form-group">
                        <label for="ruta1_{{ entrada }}">{{ entrada }} (Ruta 1):</label>
                        <input type="number" step="0.1" class="form-control" id="ruta1_{{ entrada }}"
                               name="ruta1_{{ entrada }}" required>
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="button" class="btn btn-primary previous-button" id="previous-button-1">Anterior</button>
                        <button type="button" class="btn btn-primary next-button" id="next-button-1">Siguiente</button>
                    </div>
                </div>
            </div>
    
            <div class="card" id="card-2">
                <div class="card-header" style="text-align: center; font-weight: bold;">
                    Ruta 2 (Último año)
                </div>
                <div class="card-body">
                    {% for entrada in pesos_predefinidos %}
                    <div class="form-group">
                        <label for="ruta2_{{ entrada }}">{{ entrada }} (Ruta 2):</label>
                        <input type="number" step="0.1" class="form-control" id="ruta2_{{ entrada }}"
                               name="ruta2_{{ entrada }}" required>
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="button" class="btn btn-primary previous-button" id="previous-button-2">Anterior</button>
                        <button type="button" class="btn btn-primary next-button" id="next-button-2">Siguiente</button>
                    </div>
                </div>
            </div>
    
            <div class="card" id="card-3">
                <div class="card-header" style="text-align: center; font-weight: bold;">
                    Ruta 3 (Último año)
                </div>
                <div class="card-body">
                    {% for entrada in pesos_predefinidos %}
                    <div class="form-group">
                        <label for="ruta3_{{ entrada }}">{{ entrada }} (Ruta 3):</label>
                        <input type="number" step="0.1" class="form-control" id="ruta3_{{ entrada }}"
                               name="ruta3_{{ entrada }}" required>
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="button" class="btn btn-primary previous-button" id="previous-button-3">Anterior</button>
                        <button type="button" class="btn btn-primary next-button" id="next-button-3">Siguiente</button>
                    </div>
                </div>
            </div>
    
            <div class="card" id="card-4">
                <div class="card-header" style="text-align: center; font-weight: bold;">
                    Ruta 4 (Último año)
                </div>
                <div class="card-body">
                    {% for entrada in pesos_predefinidos %}
                    <div class="form-group">
                        <label for="ruta4_{{ entrada }}">{{ entrada }} (Ruta 4):</label>
                        <input type="number" step="0.1" class="form-control" id="ruta4_{{ entrada }}"
                               name="ruta4_{{ entrada }}" required>
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="button" class="btn btn-primary previous-button" id="previous-button-4">Anterior</button>
                        <button type="submit" class="btn btn-primary previous-button" id="submit-button">Calcular Ruta Óptima</button>
                    </div>
                </div>
            </div>
    
            <script>
                const cards = document.querySelectorAll('.card');
                const previousButtons = document.querySelectorAll('.previous-button');
                const nextButtons = document.querySelectorAll('.next-button');
                let currentCardIndex = 0;
    
                function showCard(index) {
                    cards.forEach(function (card, cardIndex) {
                        if (cardIndex === index) {
                            card.classList.add('active');
                        } else {
                            card.classList.remove('active');
                        }
                    });
                }
    
                function updateButtonVisibility() {
                    if (currentCardIndex === 0) {
                        previousButtons.forEach(function (button) {
                            button.style.display = 'none';
                        });
                    } else {
                        previousButtons.forEach(function (button) {
                            button.style.display = 'block';
                        });
                    }
    
                    if (currentCardIndex === cards.length - 1) {
                        nextButtons.forEach(function (button) {
                            button.style.display = 'none';
                        });
                        document.getElementById('submit-button').style.display = 'block';
                    } else {
                        nextButtons.forEach(function (button) {
                            button.style.display = 'block';
                        });
                        document.getElementById('submit-button').style.display = 'none';
                    }
                }
    
                nextButtons.forEach(function (button, index) {
                    button.addEventListener('click', function () {
                        currentCardIndex = index + 1;
                        showCard(currentCardIndex);
                        updateButtonVisibility();
                    });
                });
    
                previousButtons.forEach(function (button, index) {
                    button.addEventListener('click', function () {
                        currentCardIndex = index - 1;
                        showCard(currentCardIndex);
                        updateButtonVisibility();
                    });
                });
    
                showCard(currentCardIndex);
                updateButtonVisibility();
            </script>
    </form>
</div>
</body>
</html>
